{{ define "content" }}
<!--/.navbar -->
<div class="offset"></div>
<div class="light-wrapper page-title">
  <div class="container inner">
    <h1 class="pull-left">Grid Blog</h1>
    <div class="navigation pull-right"> <a href="#" title="Previous"><i class='icon-left-open-1'></i></a> <a href="#"
        title="Next"><i class='icon-right-open-1'></i></a> </div>
  </div>
</div>
<div class="dark-wrapper">
  <div class="container inner">
    <div class="grid-blog col3">
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb1.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Tortor Ullamcorper Parturient</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">3
                Comments</a></span> <span class="like"><a href="#">14 <i class="icon-heart"></i></a></span> </div>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,
            tortor mauris condimentum nibh.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb2.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Ullamcorper Sit Ligula Tristique</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">5
                Comments</a></span> <span class="like"><a href="#">21 <i class="icon-heart"></i></a></span> </div>
          <p>Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris
            condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. </p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb3.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Cursus Bibendum Venenatis Ornare</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">7
                Comments</a></span> <span class="like"><a href="#">9 <i class="icon-heart"></i></a></span> </div>
          <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Curabitur
            blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb4.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Aenean Magna Consectetur</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">12
                Comments</a></span> <span class="like"><a href="#">43 <i class="icon-heart"></i></a></span> </div>
          <p>Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl
            consectetur et. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
            egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
            felis euismod semper.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb5.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Magna Egestas Parturient</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">15
                Comments</a></span> <span class="like"><a href="#">19 <i class="icon-heart"></i></a></span> </div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Cras
            mattis consectetur purus sit amet fermentum.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb6.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Vestibulum Vulputate Pharetra</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">21
                Comments</a></span> <span class="like"><a href="#">17 <i class="icon-heart"></i></a></span> </div>
          <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra
            augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb7.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Cras Ultricies Purus Fringilla</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">9
                Comments</a></span> <span class="like"><a href="#">64 <i class="icon-heart"></i></a></span> </div>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb8.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Ultricies Mattis Dapibus Egestas</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">7
                Comments</a></span> <span class="like"><a href="#">27 <i class="icon-heart"></i></a></span> </div>
          <p>Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus. Cras justo
            odio, dapibus ac facilisis.</p>
        </div>
      </div>
      <div class="post">
        <figure class="icon-overlay medium icn-link"><a href="blog-post.html"><img src="style/images/art/gb9.jpg"
              alt="" /></a></figure>
        <div class="image-caption">
          <h3 class="post-title"><a href="blog-post.html">Justo Porta Fermentum Consectetur</a></h3>
          <div class="meta"> <span class="date">18 Jul 2013</span> <span class="comments"><a href="#">27
                Comments</a></span> <span class="like"><a href="#">48 <i class="icon-heart"></i></a></span> </div>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed
            consectetur. Donec sed odio dui.</p>
        </div>
      </div>
    </div>
    <div class="pagination">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
    <!-- /.pagination -->

  </div>
  <!-- /.container -->
</div>
<!-- /.dark-wrapper -->

<footer class="black-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-3">
        <div class="widget"> <img src="style/images/logo.png" data-at2x="style/images/logo@2x.png" alt="" />
          <div class="divide20"></div>
          <p>Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec
            ullamcorper metus auctor fringi. Nullam quis risus. </p>
          <p>Vestibulum id ligula porta euismod semper. Maecenas faucibus mollis.</p>
          <div class="divide5"></div>
          <ul class="social">
            <li><a href="#"><i class="icon-s-rss"></i></a></li>
            <li><a href="#"><i class="icon-s-twitter"></i></a></li>
            <li><a href="#"><i class="icon-s-facebook"></i></a></li>
            <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
            <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /col -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="section-title widget-title upper">Popular Posts</h3>
          <ul class="post-list">
            <li>
              <h6><a href="blog-post.html">Vivamus sagittis lacus vel augue metus</a></h6>
              <em>3th Oct 2012</em>
            </li>
            <li>
              <h6><a href="blog-post.html">Scelerisque nisl consectetur et</a></h6>
              <em>28th Sep 2012</em>
            </li>
            <li>
              <h6><a href="blog-post.html">Pellentesque ornare sem lacinia quam</a></h6>
              <em>15th Aug 2012</em>
            </li>
          </ul>
          <!-- /.post-list -->
        </div>
        <!-- /.widget -->
      </div>
      <!-- /col -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="section-title widget-title upper">Get In Touch</h3>
          <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna. Sed
            posuere consectetur est at lobortis.</p>
          <div class="divide10"></div>
          <div class="contact-info"> <i class="icon-location"></i> Moonshine St. 14/05 Light City <br />
            <i class="icon-phone"></i>+00 (123) 456 78 90 <br />
            <i class="icon-mail"></i> <a href="first.last@email.com">first.last@email.com</a>
          </div>
        </div>
      </div>
      <!-- /col -->

      <div class="col-sm-3">
        <div class="widget">
          <h3 class="section-title widget-title upper">Tags</h3>
          <div class="tagcloud"> <a href="#" style="font-size: 9pt;">blogroll</a> <a href="#"
              style="font-size: 19pt;">daily</a> <a href="#" style="font-size: 9pt;">dialog</a> <a href="#"
              style="font-size: 9pt;">gallery</a> <a href="#" style="font-size: 10pt;">journal</a> <a href="#"
              style="font-size: 9pt;">link</a> <a href="#" style="font-size: 12pt;">motion</a> <a href="#"
              style="font-size: 9pt;">music</a> <a href="#" style="font-size: 20pt;">photo</a> <a href="#"
              style="font-size: 13pt;">professional</a> <a href="#" style="font-size: 16pt;">quotation</a> <a href="#"
              style="font-size: 9pt;">show</a> <a href="#" style="font-size: 15pt;">sound</a> <a href="#"
              style="font-size: 9pt;">tv</a> <a href="#" style="font-size: 9pt;">video</a> <a href="#"
              style="font-size: 9pt;">gift</a> <a href="#" style="font-size: 19pt;">label</a> <a href="#"
              style="font-size: 9pt;">christmas</a> </div>
        </div>
        <!-- /.widget -->
        <div class="divide30"></div>
        <div class="widget">
          <h3 class="section-title widget-title upper">Newsletter</h3>
          <form id="newsletter" class="form-inline newsletter" role="form">
            <div>
              <label class="sr-only" for="exampleInputEmail">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-default btn-submit"><i class="icon-paper-plane"></i></button>
          </form>
        </div>
        <!-- /.widget -->

      </div>
      <!-- /col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- .container -->
  <div class="sub-footer">
    <div class="container">
      <p class="pull-left">© 2014 Slowave. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.
      </p>
      <ul class="footer-menu pull-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- /footer -->

{{ end }}