{{ define "content" }}

<div class="light-wrapper page-title">
  <div class="container inner">
    <h1>Fellow Praying People</h1>
  </div>
</div>

<div class="container inner">

  <div class="row">
    {{ range .Users }}
    <div class="col-sm-4">
      <div class="panel panel-default text-center">
        <div class="panel-body">
          <h4>{{ .Username }}</h4>
          {{ if .IsAdmin }}
            <p>India / Bangalore</p>    
          {{ else }}
            <p>{{ .Country }} / {{ .City }}</p>
          {{ end }}
        </div>
      </div>
    </div>
    {{ else }}
    <p>No active users right now.</p>
    {{ end }}
  </div>

</div>

<script>
setInterval(() => {
  location.reload();
}, 15000);
</script>

{{ end }}