{{ define "header" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/slowave/images/favicon.png">
    <title>{{ .SiteTitle }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/style/css/bootstrap.css" rel="stylesheet">
    <link href="/style/css/settings.css" rel="stylesheet">
    <link href="/style/css/owl.carousel.css" rel="stylesheet">
    <link href="/style/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="/style/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet"
        type="text/css" />
    <link href="/style/style.css" rel="stylesheet">
    <link href="/style/css/color/blue.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet'
        type='text/css'>
    <link href="/style/type/fontello.css" rel="stylesheet">
    <link href="/style/type/picons.css" rel="stylesheet">
    <link href="/style/type/budicons.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/slowave/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>

<body class="full-layout">
    <div class="body-wrapper">
        <div class="yamm navbar basic default">
            <div class="navbar-header">
                <div class="container">
                    <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse"
                            data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> <a class="navbar-brand"
                            href="/"><img src="/style/images/logo.png" data-at2x="/style/images/logo@2x.png"
                                alt=""
                                height="80"
                                /></a> </div>
                    <div class="collapse navbar-collapse pull-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="index3.html">Home Layout 3</a></li>
                                    <li><a href="index4.html">Home Layout 4</a></li>
                                    <li><a href="index5.html">Home Layout 5</a></li>
                                    <li><a href="index6.html">Home Layout 6</a></li>
                                    <li><a href="index-all.html">Home All</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Portfolio</a>
                                <ul class="dropdown-menu">
                                    <li><a href="portfolio.html">Grid 4 Columns</a></li>
                                    <li><a href="portfolio2.html">Grid 3 Columns</a></li>
                                    <li><a href="portfolio-post.html">Post with Wide Slider</a></li>
                                    <li><a href="portfolio-post2.html">Post with Half Slider</a></li>
                                    <li><a href="portfolio-post3.html">Post with Fullscreen Slider</a></li>
                                    <li><a href="portfolio-post4.html">Post with Half Images</a></li>
                                    <li><a href="portfolio-post5.html">Post with Wide Images</a></li>
                                    <li><a href="portfolio-post6.html">Post with Half Video</a></li>
                                    <li><a href="portfolio-post7.html">Post with Wide Video</a></li>
                                    <li><a href="portfolio-post8.html">Post with Audio</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Grid Blog</a></li>
                                    <li><a href="blog2.html">Grid Blog with Sidebar</a></li>
                                    <li><a href="blog3.html">Classic Blog</a></li>
                                    <li><a href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">About 1</a></li>
                                    <li><a href="about2.html">About 2</a></li>
                                    <li><a href="services.html">Services 1</a></li>
                                    <li><a href="services2.html">Services 2</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="login.html">Login Page</a></li>
                                    <li><a href="pages.html">Side Navigation</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Features</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"> <a href="index.html">Headers</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index.html">Header Style 1</a></li>
                                            <li><a href="header2.html">Header Style 2</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="elements.html">Elements</a></li>
                                    <li><a href="headings.html">Headings</a></li>
                                    <li><a href="picons.html">Font Icons - Picons</a></li>
                                    <li><a href="budicons.html">Font Icons - Budicons</a></li>
                                    <li><a href="fontello.html">Font Icons - Fontello</a></li>
                                    <li class="dropdown-submenu"> <a href="#">Submenu Levels</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Second Level</a></li>
                                            <li class="dropdown-submenu"> <a href="#">More</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Third Level</a></li>
                                                    <li><a href="#">Third Level</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Second Level</a></li>
                                            <li><a href="#">Second Level</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown yamm-fullwidth"><a href="#" class="dropdown-toggle js-activated">Mega
                                    Menu</a>
                                <ul class="dropdown-menu yamm-dropdown-menu">
                                    <li>
                                        <div class="yamm-content row">
                                            <div class="col-sm-3">
                                                <h4>Latest Works</h4>
                                                <p>Cum sociis natoque penatibus magnis dis parturient montes, nascetur
                                                    mus.</p>
                                                <figure class="icon-overlay medium icn-link"><a
                                                        href="portfolio-post.html"><img src="/style/images/art/p1.jpg"
                                                            alt="" /></a></figure>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4>About Us</h4>
                                                <p>Cum sociis natoque penatibus et magnis dis parturient montes,
                                                    nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in,
                                                    egestas eget quam. </p>
                                                <p>Duis mollis, est non commodo luctus. Nullam quis risus eget urna
                                                    mollis ornare vel eu leo cras consectetur.</p>
                                                <div class="divide5"></div>
                                                <a href="#" class="btn">Read More</a>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4>Get In Touch</h4>
                                                <p>Fusce dapibus, tellus commodo, tortor mauris condimentum utellus
                                                    fermentum, porta sem malesuada magna. Sed posuere consectetur est at
                                                    lobortis.</p>
                                                <div class="divide10"></div>
                                                <div class="contact-info"> <i class="icon-location"></i> Moonshine St.
                                                    14/05 Light City <br />
                                                    <i class="icon-phone"></i>+00 (123) 456 78 90 <br />
                                                    <i class="icon-mail"></i> <a
                                                        href="first.last@email.com">first.last@email.com</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <h4>Special Pages</h4>
                                                <ul class="circled">
                                                    <li><a href="index7.html">Home All</a></li>
                                                    <li><a href="portfolio.html">Portfolio Grid 4 Columns</a></li>
                                                    <li><a href="services.html">Service Layout 1</a></li>
                                                    <li><a href="elements.html">Elements</a></li>
                                                    <li><a href="pricing.html">Pricing Tables</a></li>
                                                    <li><a href="picons.html">Font Icons - Picons</a></li>
                                                    <li><a href="blog.html">Grid Blog</a></li>
                                                    <li><a href="login.html">Login Page</a></li>
                                                    <li><a href="portfolio-post.html">Portfolio Post with Wide
                                                            Slider</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Contact</a>
                                <ul class="dropdown-menu">
                                    <li><a href="contact.html">Contact 1</a></li>
                                    <li><a href="contact2.html">Contact 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>

{{ end }}