{{ define "footer" }}

</div>

<footer class="black-wrapper animate__animated animate__fadeInUp">
  <div class="sub-footer">
    <div class="container">

      <p class="pull-left animate__animated animate__fadeInUp" data-wow-delay="0.1s">
        © 2025 Pastor Aby & Pastor Smitha | HISnearness KR Puram Campus
      </p>

      <ul class="footer-menu pull-right animate__animated animate__fadeInUp" data-wow-delay="0.2s">
        <li><a href="#">Home</a></li>
        <li><a href="/login">Login</a></li>
      </ul>

    </div>
  </div>
</footer>


<!-- /.body-wrapper -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/style/js/jquery.min.js"></script>
<script src="/style/js/bootstrap.min.js"></script>
<script src="/style/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="/style/js/jquery.themepunch.plugins.min.js"></script>
<script src="/style/js/jquery.themepunch.revolution.min.js"></script>
<script src="/style/js/jquery.fancybox.pack.js"></script>
<script src="/style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script>
<script src="/style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script>
<script src="/style/js/jquery.isotope.min.js"></script>
<script src="/style/js/jquery.easytabs.min.js"></script>
<script src="/style/js/owl.carousel.min.js"></script>
<script src="/style/js/jquery.fitvids.js"></script>
<script src="/style/js/google-code-prettify/prettify.js"></script>
<script src="/style/js/jquery.slickforms.js"></script>
<script src="/style/js/retina.js"></script>
<script src="/style/js/scripts.js"></script>
</body>

</html>

{{ end }}