{{ define "footer" }}

</div>

<div class="offset"></div>

<footer class="black-wrapper">
    <div class="container inner">
        <div class="row">
            <div class="col-sm-6">
                <div class="widget"> <img src="style/images/logo.png" data-at2x="style/images/logo@2x.png" alt=""
                        height="80" width="240" />
                    <div class="divide20"></div>
                    <p>Welcome to our ministry at HISnearness KR Puram Campus under Prophet Shyju Mathew and Prophetess
                        Tiny Mathew. We offer marriage, career, and personal counselling with biblical guidance, prayer,
                        and support to help individuals and families grow spiritually and walk in their God-given
                        purpose.</p>
                    <p>Pastor Aby and Pastor Smitha lead with a passion for revival and discipleship, helping people
                        encounter God daily. Our vision is to see lives transformed, living victoriously and impacting
                        the world through prayer, love, and God’s presence.</p>
                    <div class="divide5"></div>
                    <ul class="social">
                        <li><a href="#"><i class="icon-s-rss"></i></a></li>
                        <li><a href="#"><i class="icon-s-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-s-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /col -->

            <div class="col-sm-3">
                <div class="widget">
                    <h3 class="section-title widget-title upper">Recent Posts</h3>
                    <ul class="post-list">
                        {{ range .RecentPosts }}
                        <li>
                            <h6>
                                <a href="/blog/{{ .Slug }}">{{ .Title }}</a>
                            </h6>
                            <em>{{ .CreatedAt.Format "2 Jan 2006" }}</em>
                        </li>
                        {{ else }}
                        <li>No posts available</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <!-- /col -->

            <div class="col-sm-3">
                <div class="widget">
                    <h3 class="section-title widget-title upper">Get In Touch</h3>
                    <p>To learn more, seek guidance, or be part of what God is doing. We would love to connect with you
                        and support you on your journey.</p>
                    <div class="divide10"></div>
                    <div class="contact-info">
                        <i class="icon-location"></i> 1st Floor, No.141, Sri Shanti Towers, Service Rd, East of NGEF
                        Layout, Kasturi Nagar, Bengaluru, Karnataka 560043<br />
                        <i class="icon-phone"></i>079757 05046<br />
                    </div>
                </div>
            </div>
            <!-- /col -->

            <div class="col-sm-3">

                <!-- /.widget -->
                <div class="divide30"></div>
                <!-- /.widget -->

            </div>
            <!-- /col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- .container -->

    <div class="sub-footer">
        <div class="container">
            <p class="pull-left">© 2025 Pastor Aby & Pastor Smitha | HISnearness KR Puram Campus</p>

            <ul class="footer-menu pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                {{ if .User }}
                <li><a href="/blog">Blog</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</footer>
<!-- /.body-wrapper -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/style/js/jquery.min.js"></script>
<script src="/style/js/bootstrap.min.js"></script>
<script src="/style/js/twitter-bootstrap-hover-dropdown.min.js"></script>
<script src="/style/js/jquery.themepunch.plugins.min.js"></script>
<script src="/style/js/jquery.themepunch.revolution.min.js"></script>
<script src="/style/js/jquery.fancybox.pack.js"></script>
<script src="/style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script>
<script src="/style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script>
<script src="/style/js/jquery.isotope.min.js"></script>
<script src="/style/js/jquery.easytabs.min.js"></script>
<script src="/style/js/owl.carousel.min.js"></script>
<script src="/style/js/jquery.fitvids.js"></script>
<script src="/style/js/google-code-prettify/prettify.js"></script>
<script src="/style/js/jquery.slickforms.js"></script>
<script src="/style/js/retina.js"></script>
<script src="/style/js/scripts.js"></script>
</body>

</html>

{{ end }}