{{ define "content" }}

<!--/.navbar -->
<div class="offset"></div>
<div class="light-wrapper page-title">
    <div class="container inner">
        <h1>Login Page</h1>
    </div>
</div>
<div class="dark-wrapper">
    <div class="container inner">
        {{ if .User }}
        <div class="row">
            <div class="col-sm-6">
                <h3>Welcome back, {{ .User.Username }} 👋</h3>
                <p>You are already logged in.</p>

                <div class="divide15"></div>

                <a href="/blog" class="btn">Checkout Blog</a>

                {{ if and .User (or (eq .User.Role "admin") (eq .User.Role "editor")) }}
                <a href="/admin/posts" class="btn btn-border">Manage Posts</a>
                {{ end }}

                <div class="divide20"></div>

                {{ if and .User (or (eq .User.Role "admin") (eq .User.Role "editor")) }}
                <a href="/admin/contact" class="btn btn-border">Manage Queries</a>
                {{ end }}

                <div class="divide20"></div>

                <a href="/logout" class="btn btn-red">Logout</a>

            </div>
            {{ if eq .User.Role "admin" }}
            <div class="col-sm-6">
                <h3>Want more people to see your blogs</h3>
                <p>Create login credentials with view only access for user</p>
                <a href="/register" class="btn">Create User</a>
            </div>
            {{ end }}
        </div>
        {{ else }}
        <div class="row">
            <div class="col-sm-6">
                <h3>Registered Customers</h3>
                <p>This area is restricted to authorized users.

                    Please contact the administrator to request your login credentials.
                    We’re also preparing additional features and content—coming soon.
                </p>
                <div class="divide15"></div>
                {{ if .Error }}
                <div class="alert alert-danger">
                    {{ .Error }}
                </div>
                {{ end }}
                <div class="divide15"></div>
                <div class="form-container">
                    <form class="forms" action="/login" method="POST">
                        <fieldset>
                            <ol>
                                <li class="form-row text-input-row email-field">
                                    <input type="text" name="username" class="text-input defaultText required"
                                        title="Username or Email (Required)" value="{{ .Form.username }}" />
                                </li>
                                <li class="form-row text-input-row password-field">
                                    <input type="password" name="password"
                                        class="text-input defaultText required password" title="Password (Required)" />
                                </li>
                                <li class="button-row">
                                    <input type="submit" value="Login" name="submit"
                                        class="btn btn-submit bm0 pull-left" />
                                    <!-- <p class="forgot">Forgot your <a href="#">username</a> or <a href="#">password</a>?
                                    </p> -->
                                </li>
                            </ol>
                        </fieldset>
                    </form>
                </div>
                <!-- /.form-container -->

            </div>
        </div>
        {{ end }}
    </div>
    <!-- /.container -->
</div>
<!-- /.dark-wrapper -->

{{ end }}